
{{#each posts}}
<div class="container">
  <div class="post-card">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Author: {{user.username}}</p>
    <p>Date: {{createdAt}}</p>

    <!-- Check if comments exist for the post -->
    {{#if comments.length}}
    <h3>Comments</h3>
    <ul>
      {{#each comments}}
        <li>
          {{content}}
          <p>Author: {{user.username}}</p>
          <p>Date: {{createdAt}}</p>
        </li>
      {{/each}}
    </ul>
    {{/if}}

  </div>
</div>
{{/each}}


